*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --charcoal-green: #2C3930;
    --olive-gray: #3F4F44;
    --warm-tan: #A27B5C;
    --light-beige: #DCD7C9;
}

body{
    background-color: var(--charcoal-green);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.grid-container{
    display: grid;
    grid-template-columns: 20% 45% 1fr;
    gap: 5px;
    height: 100vh;
    overflow: hidden;
}

.box {
    background-color: var(--olive-gray);
    color: var(--light-beige);
    font-weight: bold;
    border-radius: 18px;
    border: 3px solid var(--warm-tan);
}

dialog{
    margin: 0 auto;
    border: 2px solid var(--light-beige);
    border-radius: 5px;
    background-color: var(--charcoal-green);
    color: var(--light-beige);
}

.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px 15px;
}

.modal-content input{
    padding: 5px 5px;
}

.modal-content input:focus{
    outline: none;
}

.modal-content button{
    width: 100%;
    font-family: inherit;
    background-color: var(--light-beige);
    color: var(--charcoal-green);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* City panel */
.city-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 15px 30px;
    height: 100%;
}

.add-city{
    display: flex;
    justify-content: center;
    width: 100%;
}

.add-city button{
    background-color: var(--light-beige);
    color: var(--charcoal-green);
    font-family: inherit;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.7);
    padding: 5px 20px;
    width: 50%;
    cursor: pointer;
}

.cities{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-height:  550px;
    padding-right: 10px;
    overflow-y: auto;
}

.cities span{
    text-align: center;
}

.cities p{
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.7);
    padding: 10px 10px;
    cursor: pointer;
}

.cities-default{
    background-color: var(--light-beige);
    color: var(--charcoal-green);
}

.selected{
    background-color: var(--charcoal-green);
    color: var(--light-beige);
}

/* Content Header */
.content{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 0 30px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-header p:nth-of-type(1){
    font-size: 13px;
}

.left-header p:nth-of-type(2){
    font-size: 40px;
    margin-top: 20px;
}

.weather {
    width: 150px;
    height: 150px;
    background-image: url(../assets/weather.jpg);
    background-repeat: no-repeat;
    background-position: 150px 150px;
}

/* Today's Forecasts */
.today{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 5px;
    border: 2px solid var(--light-beige);
    padding: 10px 10px;
    overflow: auto;
}

.today-forecasts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.time{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.today-weather{
    width: 75px;
    height: 75px;
    background-image: url(../assets/weather.jpg);
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: 150px 150px;
}

/* Air conditions */
.air-conditions{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 5px;
    border: 2px solid var(--light-beige);
    padding: 10px 10px;
}

.information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infos{
    display: flex;
    flex-direction: column;
    gap: 10px;   
}

.title{
    font-size: 20px;
}


/* 7 day forecasts */
.forecasts{
    display: flex;
    flex-direction: column;
    padding: 15px 40px;
    gap: 35px;
}

#forecasts{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.forecast{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
}

.temp-feel{
    color: var(--warm-tan);
}

.copyright{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}       
